{% extends "base.html" %}

{% block title %}Clientes {{ cantidad }} {{ listacli }} {{ encabezado }} {% endblock %}

{% block page_content %}
<div class="page-header">
    <h2>La empresa tiene: {{ cantidad }} clientes </h2p>

</div>

<div> 
        <div class="container-fluid">
            <table class="table table-bordered table-condensed" >
                <tbody>
                    <tr class="active"> 
                        {% for item in  encabezado %}
                            <th >{{item}}</th>
                        {% endfor %}
                    </tr>    
                    {% for linea in  listacli %}
                        <tr>                
                            {% for item in  linea %}
                            <td >{{item}}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
